<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/2819/2819508.svg" alt="">
      </div>
      <div class="row">
        <button on-click="incrementar" type="button" name="button" class="btn btn-success">Cargar datos</button>
      </div>
      <div class="row">
        <input type="text" name="" value="{{prop1::input}}">
        <input type="text" name="" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped col-lg-6 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <th>[[prop2]]</th>
              <th>Selena</th>
              <th>Mora</th>
            </tr>
            <tr>
              <th>2</th>
              <th>Dolores</th>
              <th>Fuertes</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'my-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String//,
            //value: 'my-visor'
          },
          prop2:{
            type:Number,
            value:999
          }
        };
      }
      incrementar(){
        this.prop2+=1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
